@import "../../scss/index.scss";

.register-form {
    text-align: left;

    .ant-form-item {

        &:nth-child(3),
        &:last-of-type {
            margin: 0;
        }
    }

    &-input {
        .ant-input-prefix {
            i {
                font-size: 0em +22px / $defaultFontSize;
            }
        }

        input {
            font-size: 0em +22px / $defaultFontSize;
            padding: 20px 20px 20px 40px;

            &:focus {
                border-color: $primary-color;
                box-shadow: none;
            }
        }
    }

    &-button {
        width: 100%;
        font-size: 0em +22px / $defaultFontSize  !important;
        background-color: $primary-color  !important;
        color: $font-light  !important;
        height: 42px !important;

        &:hover {
            background-color: $primary-color-hover  !important;
            color: $font-light  !important;
        }

        &:focus,
        &:active {
            background-color: $primary-color  !important;
            color: $font-light  !important;
            border: 0 !important;
        }
    }
}